APP_ENV=dev
APP_DEBUG=true
APP_SECRET=

###> doctrine/doctrine-bundle ###
DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"
###< doctrine/doctrine-bundle ###

###> hwi/oauth-bundle ###
FB_ID=
FB_SECRET=
GOOGLE_ID=
GOOGLE_SECRET=
TWITTER_ID=
TWITTER_SECRET=
###< hwi/oauth-bundle ###
