{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
  <h2 class="text-center">Bienvenue {{ app.user.fullname }}</h2>

  {% for baby in app.user.babies %}
    <a href="{{ path('baby_detail', {'id': baby.id }) }}">
      {{ baby.firstname }}
    </a>
  {% else %}
    Aucun enfant n'est associé à votre compte. <br />
    <a href="{{ path('baby_add') }}">Ajouter un bébé</a>
  {% endfor %}
{% endblock %}
